.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-bottom: 6px;
    border-radius: 5px;
    background-color: #7ca3ff;
    position: relative;

  }
  
/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  background-color: #82e5ec;

  /* background-size: cover; */
}
  
  /* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}
.img-container {
  width: 100%;
  height: 100%;
  position: absolute;


  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
  opacity: 0.2;
}
